p a {
    
    text-decoration: underline;

}

p, ul {
    margin: 3% 0;
}

ul {
    font-size: 1.3rem;
    list-style-type: "\2713";
    width: 100%;
    
}

li {
    margin: 4% 0;
    margin-left: 7%;
}

.signUp {
    text-decoration: none;
    text-align: center;
    background: var(--shade1);
    padding: 2%;
    width: 60%;
    border-radius: 5px;
    color: var(--shade4);
    font-weight: 500;
    margin: 2% 0;
}