.flexColumn {
    display: flex;
    flex-direction: column;
    margin: 2vw 5vw;
    max-width: 800px;
}

p, ul {
    font-size: 2.5vh;
}

p {
    margin: 2vh 0;
}

input[type=button].fullButton {
    -webkit-appearance: none;
    font-size: 3vh;
    padding: 2%;
}

@media screen and (min-width: 760px) {
    input[type=button].fullButton {
        font-size: 3vh;
        padding: 1vh;
        width: 35%;
    }
}