.account {
    display: flex;
    flex-direction: column;
    max-width: 660px;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2%;
    background: linear-gradient(25deg, rgba(122, 168, 206, .6), rgb(234, 238, 241));
}

.row {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.row label {
    width: 55%;
}

.row p {
    overflow: scroll;
}

.col {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    width: 96%;
}

.col input {
    border-radius: 5px;
    width: 75%;
}


.row input[type=button] {
    width: 48%;
    border-radius: 5px; 
}

.row input[type=button].gold {
    /* color: var(--shade2); */
}

@media screen and (min-width: 754px) {

    .account {
        align-self: center;
        width: 100%;
    }

    .account .col input:hover {
        cursor: pointer;
        box-shadow: 0 0 5px;
    }

    .row p {
        width: 60%;
        overflow: auto;
        text-align: end;
    }
}

