label {
    align-self: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    margin: 4vw 2vw;
    padding: 2vw 4vw;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    background: linear-gradient(180deg, var(--shade1), var(--shade2));
}

.flexColumn input {
    font-size: 2.5vh;
    white-space: nowrap;
}


h3 {
    align-self: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5vh 0;
}


.row input[type=button] {
    width: 48%;
}


input[type=button].warn {
    -webkit-appearance: none;
    color: red;
    font-size: 2.5vh;
    border-radius: 5px;
    padding: .5vh 0;
    width: 88%;
    align-self: center;
}