.flexColumn {
    display: flex;
    flex-direction: column;
    margin: 2vw 3vw;
    padding: 2vw 3vw;
    row-gap: 3vh;
}

h3 {
    align-self: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row input {
    font-size: 2.5vh;
    width: 60%;
}

.row label {
    width: 36%;
}

input[type=button].warn {
    color: red;
}