.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--shade5);
    padding: 6px;
    row-gap: 6px;
    background: linear-gradient(25deg, rgba(122, 168, 206, .3), rgb(234, 238, 241));
    border-radius: 5px;
    max-height: 180px;
    overflow-y: scroll;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

input, label {
    color: var(--shade5);
    border-color: var(--shade5);
}

.row input[type=button] {
    width: 35%;
    background: white;
}

.row input[type=text] {
    width: 65%;
    text-align: center;
}