.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 2vw 3vw;
    padding: 2vw 3vw;
    row-gap: 4vh;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.section input {
    font-size: 2.5vh;
    padding: 1%;
    border-width: 2px;
    border-color: black;
    padding-left: 2%;
    height: 4.5vh;
    border-radius: 5px;
}

.section input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 3vh;
    height: 4.5vh;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(118, 118, 118);
    box-sizing: content-box;
    width: auto;
}

.section label {
    display: flex;
    justify-content: space-between;
}

label {
    font-size: 2.5vh;
    margin-bottom: 1.5%;
}

.actions {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 3vh;
    height: auto;
}

.row input[type=text] {
    width: 82%;
    padding: 0;
    padding-left: 2%;
}

.row input[type=button] {
    border-width: 0;
    margin: 0;
    padding: 0;
}

.saved {
    background: rgb(239, 239, 239);
    border-radius: 5px;
    padding: 1% 2%;
    box-sizing: border-box;
    margin: 0;
    width: 85%;
    display: flex;
    align-items: center;
}

.row input[type=button] {
    display: flex;
    justify-content: center;
    height: auto;
    border-radius: 5px;
    width: 10%;
    max-height: 5vh;
}

.icon {
    border: 2px solid black;
    width: auto;
    height: auto;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    max-height: 5vh;
}

.summary {
    resize: none;
    font-size: 2.75vh;
}

.warn {
    color: red;
}
