.goalCard {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    background: var(--shade2);
    padding: 2vh;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgb(189, 182, 182);
    animation: slide-in 2s;
    animation-fill-mode: forwards;
}

.goalCard input {
    font-size: 3vh;
    color: black;
    background: var(--shade2);
    width: 50%;
    margin-top: 1vh;
    -webkit-appearance: none;
    padding: .5vh;
    border: 1px solid var(--shade3);
}

.goalCard p {
    font-size: 2.5vh;
    color: var(--shade3);
}

.goalCard label {
    color: var(--shade3);
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--shade1);
    margin: .5vh 0;
    padding: 1vh 1vh;
    border-radius: 5px;
}

.row p {
    margin: 0;
}

label.progress {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0vw);
    }
}