
.latestGoalCard {
    display: flex;
    flex-direction: column;
    max-height: 25vh;
    overflow: auto;
    width: 91%;
    /* background: var(--shade2); */
    /* background: linear-gradient(180deg, var(--shade1) 50%, var(--shade2)); */
    padding-top: 3%;
    padding-bottom: 3%;
    overflow-x: hidden;
    row-gap: 2vh;
}

.latestGoalCard label {
    margin: 0;
    margin-top: 1vh;
    padding-left: 3%;
    color: var(--shade5);
}

.latestGoalCard p {
    padding-right: 3%;
    text-align: end;
    width: 60%;
    color: var(--shade5);
}

.latestGoalCard ul {
    color: var(--shade5);
}

.ribbon {
    /* background: var(--shade3); */
    padding-left: 0;
    /* color: var(--shade1); */
    width: 100%;
    margin: 0;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.row p {
    width: 70%;
    margin: 0;
}

.row p.days {
    width: 10%;
}

.row label {
    margin: 0;
}

.latestGoalCard ul {
    margin: 0;
    padding: 0;
    padding-right: 2%;
    list-style-type: circle;
    
}

.latestGoalCard li {
    margin-left: 10%;
    margin-bottom: 5%;
    text-align: start;
}

@media screen and (min-width: 754px) {
    .latestGoalCard::-webkit-scrollbar {
        height: 1px;
        width: 2px;
    }

    .latestGoalCard::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: var(--shade5);
    }
}