.mobileNav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--shade1);
    padding: 1% 5%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2ch;
    justify-content: center;
    position: absolute;
    width: 100%;
    background: var(--shade1);
    height: 60%;
    z-index: 1;
    border-bottom: 3px solid var(--shade4);
}

.menu a {
    text-decoration: none;
}

h1 {
    color: var(--shade3);
}

.hamburger {
    color: var(--shade3);
    z-index: 2;
}

.slidein {
    opacity: 0;
    transition: all 600ms linear 0s;
}

.slideout {
    opacity: 1;
    transition: all 300ms linear 0s;
}

