form p {
    align-self: flex-end;
    margin: 0;
    color: var(--shade3);
}

form input {
    margin-bottom: 2%;
}

form input[type=submit] {
    background: var(--shade2);
}

a {
    color: var(--shade3);
}