.goalsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 754px) {
    .goalsSection {
        display: grid;
        justify-content: center;
        justify-items: center;
        column-gap: 1%;
        grid-template-columns: repeat(auto-fit, 320px);
        align-items: center;
        max-width: 1000px;
    }
}

/* @media screen and (min-width: 954px) {
    .goalsSection {
        grid-template-columns: 32% 32% 32%;
    }
} */