.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    margin: 6% 0;
    z-index: 0;
    width: 100%;
    justify-content: center;
    /* animation-name: slidein ; */
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

a {
    color: black;
}

.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
}

.middle {
    display: flex;
    flex-direction: column;
    z-index: 0;
    justify-content: space-evenly;
    align-items: center;
    /* animation-name: slidein ; */
    animation-duration: .5s;
    animation-timing-function: ease-out;
    flex-grow: 2;
    padding: 2%;
}

.tan {
    /* background: var(--shade1); */
    border-radius: 5px;
    padding: 5% 2%;
    width: 98%;
}

.blue {
    /* background: var(--shade4); */
    border-radius: 5px;
    padding: 2% 2%;
    width: 98%;
}

.homecard1, .homecard2, .homecard3 {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    border-radius: 5px;
    /* box-shadow: 0 0 10px var(--shade3); */
    padding: 3% 0;
    max-height: 280px;
}

.homecard1 {
    background:  linear-gradient(to top, white, var(--shade1));
    border: 1px solid var(--shade5);
}

.homecard1 p, .homecard1 label, .homecard1 h2, .homecard1 ul {
    color: var(--shade5);
}

.homecard1 h2 {
    /* border: 1px solid var(--shade5); */

}

.homecard2 {
    background:  linear-gradient(to top, white, var(--shade1));
    border: 1px solid var(--shade5);
}

.homecard3 a {
    box-shadow: 0 0 8px grey;
}



p, input, textarea, a, ul, label {
    font-size: 1.3rem;
}

input[type=submit], input[type=button] {
    -webkit-appearance: none;
}

input[type=date] {
    -webkit-appearance: none;
    /* color: var(--shade4); */
}

input, input[type=date] {
    padding: .5vh;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

form input::placeholder {
    /* color: rgb(158, 157, 157); */
}

.warn {
    color: red;
}

.error {
    color: red;
}

.subtext {
    font-size: 1.1rem;
}

h2.home {
    text-align: center;
}

a.home {
    text-decoration: none;
    text-align: center;
    /* background: var(--shade1); */
    padding: 2%;
    width: 65%;
    border-radius: 5px;
    /* color: var(--shade3); */
    font-weight: 500;
    margin: 2.5% 0;
    /* box-shadow: 1px 2px 7px var(--shade3); */
    font-size: 1.4rem;
}



a.home:active {
    /* box-shadow: 1px 1px 3px var(--shade3); */
    
}

label.home {
    margin-bottom: 1%;
    /* color: var(--shade2); */
    font-weight: 500;
}

.welcome {

    border-radius: 5px;

    font-size: 1.3rem;
    padding: 3%;
    width: 85%;
    text-align: center;
    margin: 0;
 
}



.top {
    display: flex;
    flex-direction: column;
    
}

#learnMore {
    /* background: var(--shade2); */
    color: var(--shade5);
    border: 1px solid var(--shade5);
    /* margin-bottom: 3%; */
}

#startNow {
    border: 1px solid var(--shade2);
    background: var(--shade2);
    color: var(--shade5);
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--shade4);
    padding: 1% 2%;
    background: rgba(221, 212, 212, .8);
    border-radius: 5px;
    align-self: center;
    position: fixed;
    top: 50%;
    z-index: 4;
    transform: translateY(-50%);
}

.popup p {
    margin: 0;
}


.blured {
    filter: blur(10px);
    transition: filter 200ms linear 0s;
}

.clear {
    filter: blur(none);
    transition: filter 200ms linear 0s;
}

.noAnimation {
    animation: none;
}

@keyframes slidein {
    0%{
        transform: translateX(-100vw);
    }

    100%{
        transform: translateX(-0vw);
    }
}

@media screen and (min-width: 754px) {

    p, input, textarea, a, ul, label {
        font-size: 1.2rem;
    }

    .flexColumn {
        margin: 3%;
        max-width: 500px;
    }

    .middle {
        
    }

    .homepage {
        flex-direction: row;
        max-width: 1100px;
        justify-content: space-evenly;
        column-gap: 4vh;
    }

    .homecard1, .homecard2, .homecard3 {

        height: 50%;
        justify-content: center;

        width: 38%;
        padding: 3%;
    }

    .homecard1 {
        background:  linear-gradient(to top, white, var(--shade1));
    }

    .homecard2  {

        background: linear-gradient(to bottom, white, var(--shade1));
        border: 1px solid var(--shade5);
    }

    .homecard2 a {
        width: 70%;
        color: var(--shade3);
        
    }

    .homecard3 {
        border: 1px solid white;
        box-shadow: 0 0 8px grey;
    }

   .homecard3 a:hover {
        box-shadow: 0 0 7px var(--shade5);
    }

    form {
        max-width: 450px;
    }


}
