body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  --shade1: #eae0d5;
  --shade2: #c6ac8f;
  --shade3: #5e503f;
  /* --shade4: #22333b; */
  --shade4: rgb(12, 78, 196);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}
